<div>
  <ul>
    <li style="display:inline;"><strong>Links:</strong></li>
    <li style="display:inline;"><a href="/ilovetocode">HOME</a></li>
    <li style="display:inline;"><a href="/states">STATES</a></li>
    <li style="display:inline;"><a href="/activities">ACTIVITIES</a></li>
    <li style="display:inline;"><a href="/about">ABOUT US</a></li>
    <li style="display:inline;"><a href="/contact">CONTACT US</a></li>
  </ul>
</div>
<h1>MK Adventures</h1>
<p>Adventure Time (with Finn and Jake)</p>
